/*hat{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

hat emblem{
    position: relative;
    top: -45px;
    left: 20px;
}

hat nav{
    font-size: 20px;
    color: white;
    position: relative;
    top: -100px;
    left: 930px;
}

hat emblem left{
    left: 35px;
    position: relative;
}*/

part1{
    background-color: blue;
}

/*part1 {
    top: 100px;
    left: 0;
    width: 100%;
    height: 4000px;
    background-color: aquamarine;
}*/


