.head{
    width: 100%;
    position: fixed;
    top: 0;
}

.head .nav{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 30px;
    right: 20px;
}

.head .emblem{
    top: 30px;
    left: 30px;
    position: absolute;
}

.head .emblem .left{
    top: 0;
    left: -2px;
    position: absolute;
}

.left_img{
    float: left;
    margin-right: 25px;
}

.container{
    box-sizing: border-box;
    max-width: 1219px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px
}

.part1{
    margin-top: 60px;
    padding-top: 128px;
    padding-bottom: 128px;
    background-image: url(./img/back1.png);
    background-size: cover;
    background-position: center center;
}

.part2{
    background-color: white;
    background-size: cover;
    background-position: center center;
}

.part3{
    padding-top: 128px;
    padding-bottom: 128px;
    background-image: url(./img/back2.png);
    background-size: cover;
    background-position: center center;
}

.part4{
    background-color: white;
    background-size: cover;
    background-position: center center;
}

.part5{
    background-color: #EEEEEE;
    background-size: cover;
    background-position: center center;
}

.part5 .container{
    position: relative;
    box-sizing: border-box;
    max-width: 1219px;
    height: 845px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px
}

.part6 .text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.part6 .container{
    padding-top: 48px;
    padding-bottom: 64px;
    box-sizing: border-box;
    max-width: 1219px;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px
}

.part6{
    background: #333333;
    background-size: cover;
    background-position: center center;
}

.part1 .text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
}

.part2 .text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: black;
}

h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
}

.part3 .text{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
}

.part4 .text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: black;
}

.person h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #007765;
    text-align: center;
}

.person p{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: center;
}